<div id="performanceChartContainer"
     data-goal-value="<%= @daily_reports.last&.future_goal_value.to_i %>"
     data-goal-days="<%= @daily_reports.last&.future_goal_days.to_i %>"
     style="position: relative; width:400px; height:300px; margin:0 auto;">
  <!-- JS がキャンバスを生成します -->
</div>