<h1 class="mb-4 text-center font-weight-bold">日報編集</h1>

<div class="card p-4 mb-4">
  <%= render 'form' %>
</div>

<div class="text-center mt-3">
  <%= link_to "一覧に戻る", daily_reports_path, class: "btn btn-secondary" %>
</div>