<% if @post.errors.any? %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>