<h1><%= @user.name %>さんのフォローしているユーザー一覧</h1>

<div id="following-list">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user_path(user) %>
      <%= button_to "フォロー解除", connection_path(user), method: :delete, remote: true, data: { turbo_method: :delete, turbo_frame: "_top" }, class: "btn btn-danger" %> <!-- ✅ Turboの影響を防ぐ -->
    </li>
  <% end %>
</div>