<ul data-turbo="false"> <!-- ✅ フォロワー一覧の更新を防ぐ -->
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user_path(user) %>
      <%= button_to "フォロー解除", connection_path(user), method: :delete, class: "btn btn-danger", data: { turbo: false } %>
    </li>
  <% end %>
</ul>