// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.notification {
  position: relative;
  display: inline-block;
}

.notification .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 0.75rem;
}

.notification-toggle {
  // ここでは btn-info の背景色とテキストの色を使っています
  background-color: #17a2b8; /* Bootstrap の btn-info の背景色 */
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}

.notification-toggle:hover {
  background-color: lighten(#17a2b8, 10%);
}

