<h1>ユーザー管理</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
  <% if @users.present? %>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
        <% if user.status_before_type_cast == 0 %>
          アクティブ
        <% else %>
          退会済み
        <% end %>
        </td>
        <td>
          <%= link_to "詳細", admin_user_path(user), class: "btn btn-primary" %>
          <% if user.status == "active" %>
            <%= link_to "削除", admin_user_path(user), method: :delete, class: "btn btn-danger", data: { confirm: "本当に削除しますか？" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="4">ユーザーが存在しません</td>
    </tr>
  <% end %>
</tbody>

</table>