<h1>ユーザー管理</h1>
<table>
  <tr>
    <th>名前</th>
    <th>メールアドレス</th>
    <th>アクション</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td>
        <%= link_to "詳細", admin_user_path(user) %>
        <%= link_to "削除", admin_user_path(user), method: :delete, data: { confirm: "本当に削除しますか？" } %>
      </td>
    </tr>
  <% end %>
</table>