<h3><%= @skill_tag.name %> ใซ้ข้ฃใใๆฅๅฑ</h3>
<ul>
  <% @daily_reports.each do |report| %>
    <li>
      ๐ <%= link_to report.date.strftime("%Yๅนด%mๆ%dๆฅ"), daily_report_path(report) %>
    </li>
  <% end %>
</ul>