<% if resource.errors.any? %>
  <div class="alert alert-danger mb-3">
    <h4 class="alert-heading">エラーが発生しました:</h4>
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>